/* Practice Layout */

.trash {
  color: black;
}

.a-container {
  margin: 0 auto;
  max-width: 1220px;
  position: relative;
}

.a-title {
  color: #f35626;
  text-align: center;
  width: 100%;
}

.a-title h1 {
  animation-delay: 0.1s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: a-opacity;
  background: -webkit-linear-gradient(#F3562E, #FEAB36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes a-opacity {
  from, to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.a-article {
  background-color: #C8C8C8;
  box-sizing: border-box;
  margin: 10px;
  width: 100%;
}

.a-article ul {
  list-style: none;
  overflow: auto;
  padding: 0;
}

.a-article ul li {
  float: left;
  margin: 60px 10px;
  padding: 10px;
  perspective: 515px;
}

.a-article ul li:hover .a-article-img-wp {
  transform: rotateY(0deg);
}

.a-article ul li:hover .a-article-info {
  transform: rotateY(0deg);
}

.a-article-img-wp {
  border: 10px solid #fcfafa;
  box-shadow: 0 3px 10px #888;
  max-width: 300px;
  transform: rotateY(30deg);
  transition-duration: 0.5s;
  transition-property: transform;
}

.a-article-img-wp img {
  width: 100%;
}

.a-article-info {
  background-color: #deddcd;
  border: 10px solid #fcfafa;
  bottom: 0;
  box-shadow: 0 20px 40px #888;
  box-sizing: border-box;
  max-width: 200px;
  padding: 3px;
  position: absolute;
  right: 20%;
  transform: translateZ(30px) rotateY(30deg);
  transition-duration: 0.5s;
  transition-property: transform, box-shadow, margin;
}

.a-article-info h3 {
  color: #7a3f3a;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.a-article-info p {
  color: #787878;
  text-align: justify;
}

.a-article-info a {
  background-color: #7a3f3a;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  width: 80px;
}

.a-sidebar {
  background-color: #E8E8E8;
  box-sizing: border-box;
  height: 100%;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.a-sidebar ul {
  list-style: none;
  padding: 0;
}

.a-sidebar ul li button {
  background: linear-gradient(to bottom, #55c4e6 5%, #0babe0 100%);
  border-radius: 10px;
  box-shadow: 0px 10px 14px -7px #275873;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 13px 32px;
  text-shadow: 2px 1px 0px #275873;
}

.a-sidebar ul li button:hover {
  animation-name: ease-in-out;
  animation-delay: 0.1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes ease-in-out {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.05);
  }
}

.a-notes {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.a-notes ul {
  list-style: none;
  padding: 0;
}

.a-note {
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  box-sizing: border-box;
  display: inline-block;
  height: 150px;
  margin: 20px;
  padding: 10px;
  transition: -webkit-transform .15s linear;
  width: 150px;
}

.a-note h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  margin: 10px 0;
  text-align: center;
}

.a-note p {
  font-size: 22px;
  line-height: 24px;
}

.a-note:nth-child(odd) {
  background: #ffc;
  transform: rotate(-6deg);
}

.a-note:nth-child(even) {
  background: #cfc;
  transform: rotate(4deg);
}

.a-note:hover {
  transform: scale(1.25);
}

@media (min-width: 640px) {
  .a-sidebar {
    width: 350px;
    float: right;
  }

  .a-notes {
    padding-right: 350px;
  }
}
