/* Practice Layout */
body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.trash{
	color: black;
}

.bs-section-box {
  background-color: #F5F5F5;
  margin: 0 auto;
}

.bs-section-box h5 {
  font-size: 1.5em;
}

.bs-container {
  border: 5px solid #D24F2E;
  height: 80px;
  margin: 15px;
  padding: 15px;
  width: 1000px;
}

.content-size {
  box-sizing: content-box;
}

.box-size {
  box-sizing: border-box;
}
