/* Practice Layout */

.trash{
	color: black;
}


.fp-wrap {
  clear: both;
  margin: 10px 20px;
}

.fp-menu {
  margin: 15px auto;
  height: 30px;
}

.fp-menu ul {
  list-style:none;
  margin:0;
  padding:0;
}

.fp-menu li {
  float: left;
  line-height: 20px;
  margin-right: 20px;
}

.fp-menu a {
  text-decoration: none;
}

.fp-content {
  clear: both;
}

.fp-article-column {
  background: lightgray;
  float: left;
  width: calc(50% - 15px);
}

.fp-article-column:first-child{
  margin-right: 30px;
}

.fp-article-column img {
  float: left;
  height: auto;
  padding: 0 15px;
  width: 25%;
}

.fp-article-column h2 {
  padding: 0 15px;
}

.fp-article-column p {
  padding: 0 15px;
}

.fp-gallery {
  clear: both;
  padding: 20px 0;
}

.fp-gallery h2 {
  padding: 0 15px;
}

.fp-gallery-inner {
  padding: 15px;
}

.fp-gallery-inner img {
  float: left;
  margin: 10px 20px;
  width: calc(100% / 4 - 30px);
}

.fp-gallery-inner img:first-child {
  margin: 10px 20px 10px 0;
}

.fp-gallery-inner img:nth-child(4){
  margin: 10px 0 10px 20px;
}

.fp-gallery-inner img:nth-child(5){
  margin: 10px 20px 10px 0;
}

.fp-gallery-inner img:nth-child(8){
  margin: 10px 0 10px 20px;
}

