/* Practice Layout */

.trash{
	color: black;
}


.fp-wrap {
  clear: both;
  margin: 10px auto;
  max-width: 1200px;
}

.fp-menu {
  height: 30px;
  padding: 15px;
}

.fp-menu ul {
  list-style:none;
  margin:0;
  padding:0;
}

.fp-menu li {
  float: left;
  line-height: 20px;
  margin-right: 20px;
}

.fp-menu a {
  text-decoration: none;
}

.fp-content {
  clear: both;
  overflow: auto;
}

.fp-article-column {
  background: lightgray;
  box-sizing: border-box;
  float: left;
  margin: 0;
  width: 50%;
}

.fp-article-column:first-child{
  border-right: solid 15px white;
}

.fp-article-column:last-child{
  float: right;
  border-left: solid 15px white;
}

.fp-article-column img {
  float: left;
  height: auto;
  padding: 0 15px;
  width: 25%;
}

.fp-article-column h2 {
  padding: 0 15px;
}

.fp-article-column p {
  padding: 0 15px;
}

.fp-gallery {
  clear: both;
  padding: 20px 0;
}

.fp-gallery h2 {
  padding: 0 15px;
}

.fp-gallery-inner {
  overflow: auto;
  padding: 15px;
}

.fp-gallery-inner li {
  box-sizing: border-box;
  float: left;
  list-style: none;
  padding: 10px 20px;
  width: 25%;
}

.fp-gallery-inner img {
  width: 100%;
}


